
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.hero{ 
    Width: 100%;
    Min-height: 100px;
    Display:flex;
    Justify-content: center;
    Align-items: flex-start;
    Padding: 20px;
    Overflow: hidden;
    
}

nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 20px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1e1107f9;
    border-radius: 0;
    z-index: 1000;
}


nav .logo{
    width: 60px;
    padding: 0;
    margin-left: 15px;
    margin-bottom: 2px;

}

nav li{
    list-style: none;
    display: inline-block;
    margin-right: 25px;
}


nav li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;

}

nav li a:hover{
    color: rgb(249, 159, 3);
    transition: color 0.4s ease-in;
}


.content{
    text-align:start ;
    margin: 3% 3%;
}


.content h1{
    font-size: 23px;
    color: #fff;
    font-weight: 300;
    
    font-family: 'Courier New', Courier, monospace;
}


.content h2,.para1{
    color:#fff;
    font-size: large;
    padding: 0;
    text-align: start;
    font-family: 'Times New Roman', Times, serif;
}


.content a{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 9px;
    border: 2px solid #3e2306;
    padding: 3px;
    margin: 10px 50px;

}

.content a:hover{
    color: rgb(239, 174, 11);
    transition: color 0.5s ease-in;
}


.vid{
    background-image: url('Images/hero\ back.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    padding: 30px;
    height: 400px;
    opacity: 0.9;
    margin: 0;
    align-items: center;
    justify-content: space-around;
}

            /*best seller*/


h2{
    text-align: center;
    color: #2e1903;
    padding: 20px;
    margin-bottom: 0;
    margin-top: 40px;
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 60px;
}

.grid-item{
    position: relative;
    border: 1px solid #2e1903;
    padding: 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
}

.grid-item img{
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1px;
    border-radius: 15px;
    z-index: -1;
    
}

.grid-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-content{
    margin-top: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #2e1903;
    background-color: rgba(100, 68, 21, 0.79);
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    z-index: -1;
}

.button{
    border: none;
    border-radius: 7px;
    color: #fff;
    background: linear-gradient(20deg,#2e1903,#ccac82,#2d1a05);
    opacity: 0.78;
    padding: 6px;
    
}

.review{
    background-image: url(Images/bacck.jpg);
    background-position: center;
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
    color: #2e1903;
    padding: 30px;
    margin: 10px;
    margin-bottom: 0;
    margin-top: 0;
    
}   

.review h3{
    text-align: center;
    margin: 30px;
}

.review ul{
    list-style-type: square;
    display: flex;
    margin: 10px;
    gap: 30px;
   text-align: center;
    padding: 0;
    
}

.contact a{
    text-decoration: none;
    color: #3e2306;

}


.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input{

    border-radius: 9px;
    border: none;
    outline: none;
    padding: 5px;
    width: 200px;
    background-color: #c5bcb9e0;
    justify-content: space-evenly;
    margin-top: 10px;
    
}

textarea{
    width: 210px;
    height: 100px;
    margin-top: 10px;
    border: none;
    border-radius: 9px;
    background-color: #c5bcb9e0;
    outline: none;
    padding: 5px;
    
}

/*end of home*/



        /*meun starts*/

body{
    background-color: #ab7743;
}

.cafe{
    background-image: url('Images/lata2.jpg');
    background-position: center;
    background-size: cover;
    padding: 1rem;
    justify-content: space-evenly;
    border-radius: 9px;

}

.cafe h1 {
    text-align: center;
    color: #ab7743;
    padding: 3%;
}



.Coffee{
    Width: 100%;
    Max-width: 200px;
    Margin: 20px 55px;
    Display: inline-block;
    Border: 1px solid #3e2306;
    Border-radius: 10px;
    justify-items: center;
    align-items: center;
    
    
}

.Coffee img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    padding: 0;
}

.Coffee .description{
    background-color: #ab7743;
    padding: 4px;
    margin: 0;
    border-radius: 9px;
    text-align: center;
    font-size: 13px;

}


.but{
    border: none;
    border-radius: 9px;
    font-size: smaller;
    color: beige;
    background: linear-gradient(#d2661e86,#4c2b08);
    padding: 6px;
}

/*milkshake*/


.drinks h1{
    text-align: center;
    color: #3e2306;
    padding: 3%;
}

.drinks{
    background-color: #cebaa9;
    background-position: center;
    background-size: cover;
    padding-top: 2px;
    margin-top: 4px;
    justify-content: space-evenly;
    border-radius: 10px;
}


.milk{
    display: inline-block;
    margin: 20px; 60px
    max-width: 200px;
    justify-items: center;
    align-items: center;
    border: 1px solid #dabc9c;
    border-radius: 10px;
    color: #3e2306;
}

.milk img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
    padding: 1px;
}

.milk .description{
    background-color: #d7bda6;
    padding: 4px;
    margin: 0;
    border-radius: 9px;
    text-align: center;
    font-size: 13px;
}

.butt{
    border: none;
    border-radius: 9px;
    font-size: smaller;
    color: rgb(247, 247, 245);
    background: linear-gradient(#d7bda6,#aa7744);
    padding: 6px;

}

/*footer*/

.choc{
    background-color: #3e2306;
    padding: 10px;
    text-align: center;
    text-shadow: 4px 3px 3px #94561f;
    border-radius: 10px;
    border: none;
    margin-top: 5px;
}

/*end of meun*/



/* about*/


.about{
    background-image: url(Images/espresso_1.jpeg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #dfd2b3e8;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    padding: 30px;
    font-size: 21px;
    font-weight: 300;
    
}

#butt{
    background-color: #e1ad78;
    border: none;
    border-radius: 4px;
    color: #2d1a05;
    padding: 6px;
}

#butt:hover{
    color: gray;
    transition: color 0.6s ease-out;
}

/* end of about*/


/* checkout*/

.buy {
    Width: 100%;
    Max-width: 500px;
    Margin: 20px auto;
    Outline: none;
    Padding: 20px;
    Text-align: center;
    Box-shadow: 0 0 10px rgba(0, 0, 21, 0.8);
    Color: #2e1903;
    Position: relative;
    background-color: #e6ceb0;
}

button{
    border: none;
    border-radius: 6px;
    margin: 10px;
    color: #2d1a05;
    padding: 6px;
     background-color:#C6985E;

}
button:focus{
    color: rgb(156, 156, 153);
    border: 1px solid #2d1a05;
   
}



@media (max-width:768px){

    nav{
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    nav li{
        margin: 10px 0;
    }

    .content h1{
        font-size: 18px;
    }

    .content a{
        font-size: 16px;
        margin: 10px 0;
    }

    .review ul{
        flex-direction: column;
        gap: 10px;
    }

    input, textarea{
        width: 50%;
    }
}


/* Laptop View */
@media (min-width: 769px) {

    
    .grid-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        padding: 40px;
    }

    .grid-item{
        text-align: center;
    }

    .Coffee{
        width: 100%;
    }


    .milk{
    width: 100%;
     }

    main{
        max-width: 1200px;
        margin: auto;
    }

}
